body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.portfolio-title{
  font-family:'Style Script', cursive;
  font-size: 48px;
  font-weight: 600;
  word-spacing: 4px;
  zoom: 1.3;
}


